{% extends "layout_client.html" %} {% block title %}Košík{% endblock %} {% block
extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='client/css/cart.css') }}"
/>

{% endblock %} {% block content %}

<div class="cart-wrapper">
  <h1>🛒 Košík</h1>

  {% if products %}
  <form method="POST" action="{{ url_for('client.update_cart') }}">
    <table class="cart-table">
      <thead>
        <tr>
          <th>Produkt</th>
          <th>Množství</th>
          <th>Cena</th>
          <th>Akce</th>
        </tr>
      </thead>
      <tbody>
        {% for item in products %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>
            <input
              type="number"
              name="quantity_{{ item.product.id }}"
              value="{{ item.quantity }}"
              min="1"
            />
          </td>
          <td>{{ item.total }} Kč</td>
          <td>
            <a
              href="{{ url_for('client.remove_from_cart', product_id=item.product.id) }}"
              class="btn btn-secondary btn-sm"
              >Odebrat</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="cart-actions">
      <button type="submit" class="btn btn-primary">Aktualizovat košík</button>
      <p class="cart-total">Celkem: {{ total_price }} RUB</p>
    </div>
  </form>

  <div class="cart-checkout text-end">
    <a href="{{ url_for('client.checkout') }}" class="btn btn-success">
      ➡ Přejít k platbě
    </a>
  </div>

  {% else %}
  <div class="cart-empty">Košík je prázdný.</div>
  {% endif %}
</div>

{% endblock %}
