{% extends "layout_client.html" %} {% block title %}{{ product.name }}{%
endblock %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='client/css/product.css') }}"
/>
{% endblock %} {% block content %}


<div class="product-detail">
  <div class="product-image">
    {% if product.image_filename %}
    <img
      src="{{ url_for('static', filename='product-images/' ~ product.image_filename) }}"
      alt="{{ product.name }}"
    />
    {% endif %}
  </div>
  <div class="product-info">
    <h2>{{ product.name }}</h2>
    <p class="description">{{ product.description }}</p>
    <p class="price"><strong>{{ product.price }} Kč</strong></p>
    <form
      action="{{ url_for('client.add_to_cart', product_id=product.id) }}"
      method="POST"
    >
      <label for="quantity">Počet:</label>
      <input
        type="number"
        name="quantity"
        value="1"
        min="1"
        max="{{ product.stock }}"
        required
      />
      <button type="submit" class="btn">➕ Přidat do košíku</button>
    </form>
  </div>
</div>
{% endblock %}
