{% extends "layout_admin.html" %} {% block title %}Přidat produkt{% endblock %}
{% block content %}
<h2>Přidat produkt</h2>

<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.name.label }}<br />
    {{ form.name() }}
  </div>
  <div class="form-group">
    {{ form.description.label }}<br />
    {{ form.description() }}
  </div>
  <div class="form-group">
    {{ form.price.label }}<br />
    {{ form.price() }}
  </div>
  <div class="form-group">
    {{ form.stock.label }}<br />
    {{ form.stock() }}
  </div>
  <div class="form-group">
    {{ form.image.label }}<br />
    {{ form.image() }}
  </div>
  {{ form.submit() }}
</form>
{% endblock %}
